.backround {
width: 1000px;
height: 1000px;
top: 0%;
left: 0%;
right: 0%;
bottom: 0%;
background-color: #808080;
}
.floor {
width: 1000px;
height: 90px;
left: 0%;
right: 0%;
bottom: 0%;
outline-color: #000000;
outline-height: 10px;
background-color: #808080;
}